{% load static %}
<footer class="footer has-background-dark has-text-white">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-4">
                <p class="title is-5 has-text-white">Navigation</p>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="column is-4">
                <p class="title is-5 has-text-white">Contact</p>
                <p>Email: contact@example.com</p>
                <p>Phone: +1 234 567 890</p>
            </div>
            <div class="column is-4">
                <p class="title is-5 has-text-white">Follow Us</p>
                <div class="social-icons">
                    <a class="icon-link" href="#"><i class="ri-facebook-fill"></i></a>
                    <a class="icon-link" href="#"><i class="ri-twitter-fill"></i></a>
                    <a class="icon-link" href="#"><i class="ri-instagram-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <hr class="footer-divider">
                <p>&copy; 2023 <b><a href="shihabsaleem.github.io">Shihab.</a></b>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>